.Daterangepicker-wrapper {
    --daterangepicker-day-width: 32px;
    --daterangepicker-day-height: 32px;
    --daterangepicker-day-color: #333333;
    --daterangepicker-day-disabled-color: #E6E6E6;
    --daterangepicker-day-holiday-color: #FC0D1B;
    --daterangepicker-day-disabled-holiday-color: #FECDD0;
    --daterangepicker-day-hover-color: #0089fd;
    --daterangepicker-day-hover-border-color: #0089fd;
    --daterangepicker-day-selected-color: #FFFFFF;
    --daterangepicker-day-selected-background: #0089fd;
    --daterangepicker-day-selected-between-background: #E6F1FA;
    --daterangepicker-month-weekday-color: #8C8C8C;
    --daterangepicker-border-radius-small: 3px;

    .Month {
        padding: 10px 15px;

        &__title {
            color: var(--daterangepicker-day-color);
        }

        &__week {
            margin-top: 8px;
        }

        &__weekday {
            width: 20px;
        }

        &__arrow {
            margin: 0 4px;
        }

        &__days {
            margin-top: 11px;
        }
    }

    .Week {
        margin-top: 10px;
    }

    .Day {
        margin: 0 4px;

        &:hover {
            background-color: var(--daterangepicker-day-selected-between-background);
            border: none;
        }

        &.is-disabled:hover {
            background: none;
        }

        &[data-day="6"], &[data-day="0"] {
            color: var(--daterangepicker-day-holiday-color);

            &:hover {
                color: var(--daterangepicker-day-hover-color);
            }

            &.is-selected {
                color: var(--daterangepicker-day-selected-color);
            }

            &.is-disabled {
                color: var(--daterangepicker-day-disabled-holiday-color);
            }
        }

        &.is-selected,                             // выбранный
        &.is-selected-from, &.is-selected-to,      // начальный и конечный
        &.is-selected-from + .is-selected-to,      // начальный рядом с конечным
        &.is-selected-to + .is-selected-from,      // конечный рядом с начальным
        &.is-selected-between + .is-selected-from, // начальный рядом с выделенным
        &.is-selected-between + .is-selected-to    // конечный рядом с выделенным
        {
            border-radius: var(--daterangepicker-border-radius-small);
        }

        &.is-selected:hover {
            background-color: var(--daterangepicker-day-selected-background);
        }
    }

    .Days__selected {
        display: flex;
        flex-direction: row;
        margin: 0 4px;
        background-color: var(--daterangepicker-day-selected-between-background);

        .Day:first-child {
            margin-left: 0;
        }

        .Day:last-child {
            margin-right: 0;
        }
    }
}
