:root {
    --daterangepicker-day-width: 35px;
    --daterangepicker-day-height: 35px;
    --daterangepicker-day-color: #FFFFFF;
    --daterangepicker-day-disabled-color: #505050;
    --daterangepicker-day-holiday-color: #F13636;
    --daterangepicker-day-disabled-holiday-color: #783c3c;
    --daterangepicker-day-selected-color: #FFFFFF;
    --daterangepicker-day-selected-background: #0089fd;
    --daterangepicker-day-selected-between-background: rgba(0, 137, 253, 0.3);
}

.Daterangepicker {
    display: block;

    &__months {
        display: flex;
        flex-direction: column;
    }

    &__row {
        display: flex;
        flex-direction: row;

        &:first-child {
            .Month {
                &:first-child {
                    .Month__arrow--prev {
                        visibility: visible;
                    }
                }

                &:last-child {
                    .Month__arrow--next {
                        visibility: visible;
                    }
                }
            }
        }
    }

    .Month {
        padding: 10px;
        width: calc(var(--daterangepicker-day-width) * 7);

        &__header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        &__arrow {
            display: flex;
            padding: 5px 10px;
            margin: 0px 20px;
            cursor: pointer;
            user-select: none;
            visibility: hidden;

            &--prev {

            }

            &--next {

            }
        }

        &__title {
            text-align: center;
        }

        &__week {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }

        &__weekday {
            padding: 5px;
        }
    }

    .Week {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .Day {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: var(--daterangepicker-day-width);
        height: var(--daterangepicker-day-height);
        cursor: pointer;
        user-select: none;
        box-sizing: border-box;
        color: var(--daterangepicker-day-color);

        &:nth-child(6), &:nth-child(7) {
            color: var(--daterangepicker-day-holiday-color);
        }

        &[disabled] {
            color: var(--daterangepicker-day-disabled-color);
            cursor: default;

            &:hover {
                color: var(--daterangepicker-day-disabled-color);
                border: none;
            }

            &:nth-child(6), &:nth-child(7) {
                color: var(--daterangepicker-day-disabled-holiday-color);
            }
        }

        &.is-empty {
            pointer-events: none;
        }

        &:hover {
            color: var(--daterangepicker-day-selected-color);
            border: 1px solid var(--daterangepicker-day-selected-background);
        }

        &.is-selected {
            color: var(--daterangepicker-day-selected-color);
            background-color: var(--daterangepicker-day-selected-background);
        }

        &.is-selected-between {
            background-color: var(--daterangepicker-day-selected-between-background);
        }
    }
}

@media screen and (max-width: 960px) {
    .Daterangepicker {
        &__row {
            flex-direction: column;
            align-items: center;

            &:first-child {
                .Month {
                    &:first-child {
                        .Month__arrow--prev {
                            visibility: hidden;
                        }
                    }

                    &:last-child {
                        .Month__arrow--next {
                            visibility: hidden;
                        }
                    }
                }
            }
        }
    }
}
