:root {
    --daterangepicker-day-width: 35px;
    --daterangepicker-day-height: 35px;
}

.Daterangepicker {
    display: block;

    &__months {
        display: flex;
        flex-direction: row;
    }

    .Month {
        padding: 10px;
        width: calc(var(--daterangepicker-day-width) * 7);

        &__title {
            text-align: center;
        }

        &__week {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }

        &__weekday {
            padding: 5px;
        }
    }

    .Week {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .Day {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: var(--daterangepicker-day-width);
        height: var(--daterangepicker-day-height);
        cursor: pointer;
    }

    @media screen and (max-width: 960px) {
        &__months {
            flex-direction: column;
            align-items: center;
        }
    }
}
